page-discounts {
}

.miles-card img {
  width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
}

.cashback img {
  width: 28px;
  height: auto;
  float: left;
  margin-top: 4px;
}

.miles-card .col {
	font-size: 15pt;
	font-weight: 500;
}

.traveled-miles img {
  width: 28px;
  height: auto;
  float: left;
	margin-top: -2px;
}
